@font-face {
  font-family: gothamMedium;
  src: url(../fonts/GothamMediumRegular.otf);
}

@font-face {
  font-family: gothamThin;
  src: url(../fonts/Gotham-Thin.otf);
}

@font-face {
  font-family: gothamBold;
  src: url(../fonts/Gotham-Bold.otf);
}

*{
  margin: 0;
  padding: 0;
}

html{
  color: #1C1C1C;
  font-family: gothamMedium;
}

.background-colour{
  background-color: #FFDB73;
  /* background-color: #FFD05E; */
  /* background-image: -webkit-linear-gradient(290deg, #ffbbec 0%, #ffb26e 100%);
  background-image: -o-linear-gradient(290deg, #ffbbec 0%, #ffb26e 100%);
  background-image: linear-gradient(20deg, #ffbbec 0%, #ffb26e 100%); */
}

.background-colour-splash{
  height: 100vh;
}

.background-colour-contact{
  height: 20vh;
}

.text-secondary{
  color: #777777;
}

.caps{
  text-transform: uppercase;
}

.link-home{
  font-family: gothamThin;
  letter-spacing: 0.1em;
  position: absolute;
    top: 1.8vh;
    left: 2vh;
}

.link-home a:link, .link-home a:visited, .link-home a:hover, .link-home a:active{
  color: inherit;
  text-decoration: none;
}

.nav{
  box-sizing: border-box;
  display: flex;
    justify-content: flex-end;
  font-size: 0.8em;
  padding: 2vh;
  height: 5vh;
}

.nav a:link, .nav a:visited, .nav a:hover, .nav a:active{
  color: inherit;
  margin-left: 1.5em;
  text-decoration: none;
}

.nav a:hover, .nav a:active{
  border-bottom: 2px solid #1C1C1C;
  padding-bottom: 1.5em;
}

.main-centred{
  display: flex;
    align-items: center;
    justify-content: center;
  height: 90vh;
}

.splash-content{
  text-align: center;
  width: 100%;
}

.aligner-bottom{
  align-self: flex-end;
}

.splash-content h1{
  font-family: gothamThin;
  font-size: 2.6em;
  letter-spacing: 0.1em;
  margin-bottom: 0.2em;
}

.splash-location{
  font-family: gothamThin;
  font-size: 0.9em;
  margin-bottom: 1.5em;
}

.splash-nav{
  font-family: gothamThin;
  font-size: 0.7em;
}

.splash-nav-flex{
  display: inline-flex;
    align-items: center;
}

.splash-nav a:link, .splash-nav a:visited, .splash-nav a:hover, .splash-nav a:active{
  color: inherit;
  text-decoration: none;
}

.splash-nav a:hover{
  /* border-bottom: 1px solid #1C1C1C; */
  /* margin: 0; */
}

.splash-nav i{
  font-size: 0.3em;
  margin: 0 1em;
}

.cta{
  border-radius: 1em;
  display: inline-block;
  margin-top: 2.3em;
}

a.cta-text:link, a.cta-text:visited, a.cta-text:hover, a.cta-text:active{
  border-radius: 1em;
  color: #fff;
  background-color: #1C1C1C;
  font-size: 1.6em;
  letter-spacing: 0.1em;
  mix-blend-mode: multiply;
  padding: 0.2em 0.8em 0.3em 0.8em;
  text-decoration: none;
}

/* PROJECTS */

.link-project{
  border-radius: 2em;
  margin: 0 auto 1em auto;
  width: 70%;
}

.link-project a{
  display: block;
  border: 3px solid #1C1C1C;
  border-radius: 2em;
  letter-spacing: 0.1em;
  padding: 0.7em 0;
}

.link-project a:link, .link-project a:visited{
  color: #1C1C1C;
  text-decoration: none;
}

.link-project a:hover, .link-project a:active{
  color: #fff;
  background-color: #1C1C1C;
  mix-blend-mode: multiply;
  transition: 0.5s;
}

/* contact */

.floating-content-contact{
  align-items: center;
  display: flex;
  margin: 0 auto;
  transform: translateY(-50%);
  width: 90%;
}

.profile-photo{
  background-image: url('https://scontent.fakl7-1.fna.fbcdn.net/v/t1.0-9/40665939_1690756734367134_4013511178490740736_n.jpg?_nc_cat=106&_nc_ht=scontent.fakl7-1.fna&oh=3c97fded84a3176f8f878cc149a3d4ac&oe=5C6DEFF7');
  background-size: contain;
  border-radius: 50%;
  height: 30vw;
  margin-right: 1em;
  width: 30vw;
  max-height: 270px;
  max-width: 270px;
}

.profile-text{
  font-size: 2.1em;
  transform: translateY(20%);
}

.main-info{
  margin: -1.5em auto;
  width: 80%;
}

.medium-p{
  font-family: gothamThin;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 1em 0;
}

.text-small{
  font-size: 0.7em;
}

.contact-links{
  display: flex;
    justify-content: space-around;
  font-size: 1.3em;
  margin: 2.5em auto 1.5em auto;
  width: 40%;
}

.contact-links a:link, .contact-links a:visited{
  color: #777777;
}

.contact-links a:hover, .contact-links a:active{
  color: #999999;
}

/* MÉTIER */

.metier-header{
  margin: 0 auto;
  padding: 2em 0 1.5em 0;
  width: 80%;
}

.project-title{
  font-size: 2em;
  max-width: 60%;
}

.project-blurb{

}

.gallery-container{
  margin: 3em auto 1em auto;
  width: 84vw;
}

.gallery-img{
  object-fit: cover;
  cursor: pointer;
  padding: 1vw;
  height: 25vw;
  width: 25vw;
}




/* end :) */
