@font-face {
  font-family: gothamMedium;
  src: url(../fonts/GothamMediumRegular.otf);
}

@font-face {
  font-family: gothamThin;
  src: url(../fonts/Gotham-Thin.otf);
}

@font-face {
  font-family: gothamBold;
  src: url(../fonts/Gotham-Bold.otf);
}

*{
  margin: 0;
  padding: 0;
}

html{
  color: #1C1C1C;
  font-family: gothamMedium;
}

body{
  background-color: #ffbbec;
  background-image: -webkit-linear-gradient(290deg, #ffbbec 0%, #ffb26e 100%);
  background-image: -o-linear-gradient(290deg, #ffbbec 0%, #ffb26e 100%);
  background-image: linear-gradient(20deg, #ffbbec 0%, #ffb26e 100%);
  height: 100vh;
}

.text-secondary{
  color: #777777;
}

.caps{
  text-transform: uppercase;
}

.link-home{
  font-family: gothamThin;
  letter-spacing: 0.1em;
  position: absolute;
    top: 1.8vh;
    left: 2vh;
}

.link-home a:link, .link-home a:visited, .link-home a:hover, .link-home a:active{
  color: inherit;
  text-decoration: none;
}

.nav{
  box-sizing: border-box;
  display: flex;
    justify-content: flex-end;
  font-size: 0.8em;
  padding: 2vh;
  height: 5vh;
}

.nav a:link, .nav a:visited, .nav a:hover, .nav a:active{
  color: inherit;
  margin-left: 1.5em;
  text-decoration: none;
}

.nav a:hover, .nav a:active{
  border-bottom: 2px solid #1C1C1C;
  padding-bottom: 1.5em;
}

.main-centred{
  display: flex;
    align-items: center;
    justify-content: center;
  height: 90vh;
}

.splash-content{
  text-align: center;
  width: 100%;
}

.aligner-bottom{
  align-self: flex-end;
}

.splash-content h1{
  font-family: gothamThin;
  font-size: 2.6em;
  letter-spacing: 0.1em;
  margin-bottom: 0.2em;
}

.splash-location{
  font-family: gothamThin;
  font-size: 0.9em;
  margin-bottom: 1.5em;
}

.splash-nav{
  font-family: gothamThin;
  font-size: 0.7em;
}

.splash-nav-flex{
  display: inline-flex;
    align-items: center;
}

.splash-nav a:link, .splash-nav a:visited, .splash-nav a:hover, .splash-nav a:active{
  color: inherit;
  text-decoration: none;
}

.splash-nav a:hover{
  /* border-bottom: 1px solid #1C1C1C; */
  /* margin: 0; */
}

.splash-nav i{
  font-size: 0.3em;
  margin: 0 1em;
}

.cta{
  background-image: linear-gradient(20deg, #ffbbec 0%, #ffb26e 100%);
  border-radius: 1em;
  display: inline-block;
  mix-blend-mode: screen;
  margin-top: 2.3em;
}

a.cta-text:link, a.cta-text:visited, a.cta-text:hover, a.cta-text:active{
  border-radius: 1em;
  color: #fff;
  background-color: #1C1C1C;
  font-size: 1.6em;
  letter-spacing: 0.1em;
  mix-blend-mode: multiply;
  padding: 0.2em 0.8em 0.3em 0.8em;
  text-decoration: none;
}

/* PROJECTS */

.link-project{
  border-radius: 2em;
  margin: 0 auto 1em auto;
  width: 70%;
}

.link-project a{
  display: block;
  border: 3px solid #1C1C1C;
  border-radius: 2em;
  letter-spacing: 0.1em;
  padding: 0.7em 0;
}

.link-project a:link, .link-project a:visited{
  color: #1C1C1C;
  text-decoration: none;
}

.link-project a:hover, .link-project a:active{
  color: #fff;
  background-color: #1C1C1C;
  mix-blend-mode: multiply;
  /* transition: 0.5s; */
}

.link-project:hover{
  background-image: linear-gradient(20deg, #ffbbec 0%, #ffb26e 100%);
}





/* end :) */
